/* Button definition */
button.Button {
	padding: 8px 16px;
	display: inline-block;
	overflow: hidden;
	outline: 0px;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;
	white-space: nowrap;
	-webkit-appearence: button;
	text-transform: none;
	border: 0px;
}

button.ButtonDisabled {
	cursor: not-allowed;
	opacity: 0.3;
}
